{% extends "GSBPlatformBundle::layout.html.twig" %}

{% form_theme form _self %}

{% block widget_collection %}
    <div id="gsb_platformbundle_rapportvisite_echantillons" data-prototype="<div class= 'echantillon ' id= 'gsb_platformbundle_rapportvisite_echantillons_0 '><select class= 'form-control form-control--echantillon ' id= 'gsb_platformbundle_rapportvisite_echantillons_0_medicament1 ' name= 'gsb_platformbundle_rapportvisite[echantillons][0][medicament1] '></select><input class= 'form-control form-control--echantillon ' type= 'number ' id= 'gsb_platformbundle_rapportvisite_echantillons_0_quantite ' name= 'gsb_platformbundle_rapportvisite[echantillons][0][quantite] ' required= 'required ' min= '1 ' placeholder= 'Qte '></div>">
        <div class="echantillon" id="gsb_platformbundle_rapportvisite_echantillons_0">


            <select class="form-control" id="gsb_platformbundle_rapportvisite_echantillons_0_medicament1" name="gsb_platformbundle_rapportvisite[echantillons][0][medicament1]">

            </select>
            <input class="form-control form-control--echantillon" type="number" id="gsb_platformbundle_rapportvisite_echantillons_0_quantite" name="gsb_platformbundle_rapportvisite[echantillons][0][quantite]" required="required" min="1" placeholder="Qte">
        </div>
    </div>
{% endblock%}

{% block title %}
    {{ parent() }}- Index
{% endblock %}

{% block nomPage %}
    Ajouter une visite
{% endblock %}

{% block card %}

    {{ form_start(form) }}

    <div class="grid2">
        <div>
            <div class="form-group">
                {{ form_label(form.date, "Date", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.date, {'attr': {'class': 'form-control--date'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.motif, "Motif", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.motif, {'attr': {'class': 'form-control'}}) }}
            </div>

        </div>


        <div class="form-group">
            {{ form_label(form.bilan, "Bilan", {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.bilan, {'attr': {'class': 'form-control form-control--textArea'}}) }}
        </div>


        <div class="form-group">
            {{ form_label(form.medecin, "Medecin", {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.medecin, {'attr': {'class': 'form-control', "onChange" : "medecinSelect()"}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.medecinRemplacant, "Medecin Remplacant", {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.medecinRemplacant, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.medicament1, "Médicament n°1", {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.medicament1, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.medicament2, "Médicament n°2", {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.medicament2, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <br>
    <div class="form-group" style="position: relative; text-align: center">
        {{ form_label(form.documentation, "Documentation", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.documentation, {'attr': {'class': 'form-control--checkbox'}}) }}
    </div>


    {{ form_widget(form.save, {'attr': {'class': 'btn btn--validate'}}) }}

    {{ form_rest(form) }}

    {{ form_end(form) }}

    <script>
        document.getElementById("gsb_platformbundle_rapportvisite_medecinRemplacant").getElementsByTagName("option")[1].disabled = true;

        function medecinSelect() {
            var selectedOptionMedecin = document.getElementById("gsb_platformbundle_rapportvisite_medecin").value;
            var selectedOptionMedecinRemplacant = document.getElementById("gsb_platformbundle_rapportvisite_medecinRemplacant").value;
            var options = document.getElementById("gsb_platformbundle_rapportvisite_medecinRemplacant").getElementsByTagName("option");
            var select = document.getElementById("gsb_platformbundle_rapportvisite_medecinRemplacant");

            Medecin_selected = true;

            for (var i = 0; i < options.length; i++) {
                options[i].disabled = false;
                if (options[i].value == selectedOptionMedecin) {
                    options[i].disabled = true;
                    if (selectedOptionMedecin == selectedOptionMedecinRemplacant) {
                        select.selectedIndex = 0;
                    }
                }
            }
        }


    </script>

{% endblock %}

