{% extends "GSBPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}- Index
{% endblock %}

{% block nomPage %}
    Les visites
{% endblock %}

{% block card %}
    <table id="rapport" class="table--stripped">
        <thead>
            <th>Date</th>
            <th width="25%">Visiteur</th>
            <th width="25%">Medecin</th>
            <th></th>
        </thead>
        <tbody>
            {% for rapport in rapports %}

                <tr>
                    <td>{{ rapport.date |date('Y-m-d') }}</td>
                    <td>{{ rapport.visiteur.nom }}</td>
                    <td>{{ rapport.medecin.nom }}</td>
                    <td style="padding: 5px 0 10px 0"><a class="btn btn--view" href="{{ path("gsb_platform_visites_one",  { 'id': rapport.id }) }}">❯</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}





