<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>GSB {% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/main-min.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<nav id="nav">
    <div class="nav__menu">
        <a href="{{ path('gsb_platform_homepage') }}" class="nav__menu__element nav__menu__element--title link--active">Galaxy Swiss Bourdin</a>

        <a href="{{ path('gsb_platform_visites_all') }}" class="nav__menu__element link--active">Rapport de visite</a>
        <a href="#" class="nav__menu__element link--desactivate">Médicament</a>
        <a href="#" class="nav__menu__element link--desactivate">Médecin</a>
        <a href="#" class="nav__menu__element link--desactivate">Visiteur</a>
    </div>
</nav>

<header>
    <div class="header__title" id="header__title">
        {% block nomPage %}{% endblock %}
    </div>
</header>

<div class="card">
    {% block card %}{% endblock %}
</div>
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
<script src="{{ asset('js/scroll.js') }}"></script>
</body>
</html>
